@font-face {
	font-family: "chat-iconfont"; /* project id 2341078 */
	src: url("https://at.alicdn.com/t/font_2341078_y34sthtwq1.eot");
	src: url("https://at.alicdn.com/t/font_2341078_y34sthtwq1.eot?#iefix")
			format("embedded-opentype"),
		url("https://at.alicdn.com/t/font_2341078_y34sthtwq1.woff2") format("woff2"),
		url("https://at.alicdn.com/t/font_2341078_y34sthtwq1.woff") format("woff"),
		url("https://at.alicdn.com/t/font_2341078_y34sthtwq1.ttf") format("truetype"),
		url("https://at.alicdn.com/t/font_2341078_y34sthtwq1.svg#iconfont") format("svg");
}

.chat-iconfont {
	font-family: "chat-iconfont";
	font-size: 40rpx;
	font-style: normal;
}

.icon-chat:before {
	content: "\e648";
}

.icon-add-circle:before {
	content: "\e635";
}

.icon-microphone:before {
	content: "\e63e";
}

.icon-tool-image:before {
	content: "\e643";
}

.icon-tool-call:before {
	content: "\e644";
}

.icon-tool-folder:before {
	content: "\e645";
}

.icon-tool-shoot:before {
	content: "\e646";
}

.icon-voice-right:before {
	content: "\e647";
}

.icon-voice-left:before {
	content: "\e650";
}

.icon-keyboard:before {
	content: "\e653";
}

.icon-subtract-circle:before {
	content: "\e655";
}

.icon-more:before {
	content: "\e657";
}

.icon-play:before {
	content: "\e664";
}

.icon-emoji:before {
	content: "\e6a9";
}

.icon-tool-video:before {
	content: "\e75e";
}

.icon-voice-left1:before {
	content: "\e75f";
}

.icon-voice-right1:before {
	content: "\e760";
}
